<blitz-controller-view>
    <div id="signup_page" class="absolute top-[49%] left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[37%]">
        <img src="/art/signin_up/Backsignup.svg" alt="Back4" class="h-full w-full object-fill" />
        <blitz-sound-button></blitz-sound-button>
        <form id="signup_form" class="flex flex-col top-[39%] left-[30%] text-[90%] xl:text-[110%] 2xl:text-[120%] gap-y-3 xl:gap-y-[1.1vw] 2xl:gap-y-[1.4vw]">
            <input type="email" id="email" placeholder="Email" />
            <input type="password" id="password" placeholder="Password" />
            <input type="password" id="confirm_password" placeholder="Confirm Password" />
            <button id="signup_button"
            class="absolute top-[40%] left-[0.3%] w-auto cursor-pointer"
            >
            <img 
                src="/art/signin_up/enter_button2.svg" 
                alt="Enter" 
                class="h-[9vw] w-auto min-h-25 max-h-35" 
            />
        </button>
        </form>
    </div>
</blitz-controller-view>