<div id="match-component" class="flex flex-col items-center justify-center h-full w-full relative gap-y-[10px]" >
    <div class="flex flex-col items-center justify-center h-[60px] w-[50%] relative bg-[#F0F7F7] border-[#81C3C3] border-3 rounded-3xl mt-[3%]">
        <h2 class="text-[#A260ED] font-['Irish_Grover'] text-2xl lg:text-3xl">
            New Game
        </h2>
    </div>

    <div class="flex flex-col items-center justify-center h-[520px] w-full relative bg-[#F0F7F7]">
        <div class="flex flex-row items-center justify-center h-[60px] w-[50%] relative">

            <h2 class="text-[#81C3C3] font-['Irish_Grover'] text-lg lg:text-xl">
               Add a new friend 
            </h2>
        </div>
    </div>

    <!-- AI Match Button -->
    <button id="start-ai-match" class="px-6 py-3 mt-[10px] bg-[#B784F2] text-white font-['Irish_Grover'] text-lg rounded-2xl hover:scale-105 transition-transform duration-300 cursor-pointer">
        Start AI Match!
    </button>
</div>